# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

** Objectives: **

- Python
- Julia
- R
- Scala
- Swift
- SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia
4. R
5. Scala
6. Swift

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. SciKit-Learn
8. PyTorch

| Data Science Tools |
| __________________ |
| Apache Hadoop |
| Apache Spark |
| Apache Flink |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author

Yordanka Peneva